In [3]:
CHILDREN = 0
WEIGHT = 1

import sys
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

from importlib import reload

trackml_path = '/home/ec2-user/SageMaker/TrackML'
if trackml_path not in sys.path:
    sys.path.append(trackml_path)

In [4]:
detector = pd.read_csv('/home/ec2-user/SageMaker/efs/codalab_dataset/detector.csv')

In [16]:
detector = detector.loc[:, ['volume_id', 'layer_id', 'module_id', 'cx', 'cy', 'cz']]
print(detector.info())
detector.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18728 entries, 0 to 18727
Data columns (total 6 columns):
volume_id    18728 non-null int64
layer_id     18728 non-null int64
module_id    18728 non-null int64
cx           18728 non-null float64
cy           18728 non-null float64
cz           18728 non-null float64
dtypes: float64(3), int64(3)
memory usage: 878.0 KB
None

   volume_id  layer_id  module_id        cx        cy      cz
0          7         2          1  -65.7965  -5.17830 -1502.5
1          7         2          2 -139.8510  -6.46568 -1502.0
2          7         2          3 -138.6570 -19.34190 -1498.0
3          7         2          4  -64.1764 -15.40740 -1498.0
4          7         2          5 -136.2810 -32.05310 -1502.0

In [ ]:
M = 10**6